* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.nav {
    margin-top: 0.10vw;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 50px 35px black;
}

.nav-part2 {
    display: flex;
    gap: 2.3vw;
  
    margin-right: 9vw;
}

.nav h2 {
    font-size: 2vw;
    font-weight: 700;
    align-items: center;
    margin-left: 2vw;
    font-family:  Verdana, sans-serif;
    text-shadow: #18a8bb 0 0 15px;
}

.nav-part2 h3 {
    margin-top: 1vw;
    font-size: 1.23vw;
    font-weight: 600;
}

.nav-part2 h3 a{
    color: black;
    font-family:  Verdana, sans-serif;
}

.nav-part2 h3 a:hover {
    border-radius: 10px;
    padding: 0.3vw 0.3vw;
    background-color: #20b2aa;
    transition: 1s;
}

.nav button {
    font-size: 1vw;
    padding: 1vw 1vw;
    font-weight: 600;
    background-color: #20b2aa;
    border-radius: 10px;
    border: none;
}

.nav button:hover{
    color: aliceblue;
    background-color: black;
    transform: matrix(1.1s);
    transition: 1s;
}

.nav i {
    font-size: 1.43vw;
    display: none;
    font-weight: 700;
}

.content {
    height: calc(100% - 100px);
    width: 100%;

    display: flex;
    position: relative;
}

.left {
    margin-top: 5vw;
    height: 100%;
    width: 55%;

    padding: 4vw 4vw;
}

.left h1 {
    font-size: 3.5vw;
    line-height: 4.5vw;
}

.left h1 span {
    color: #20b2aa;
}

.left h1 span:hover{
    color: #b015be;
    transition: 1.9s;
}

.left p {
    font-size: 1.23vw;
    width: 85%;
    margin-top: 2vw;
    margin-bottom: 3vw;
    font-weight: 600;
}

.content button {
    font-size: 1.1vw;
    padding: 1.2vw 1.4vw;
    font-weight: 600;
    background-color: #20b2aa;
    border-radius: 100px;
    border: none;
}


.right {
    margin-top: 3vw;
    /* margin-left: 4vw; */
    margin-bottom: 2vw;
  display: flex;
  justify-content: center;
  
}

.right img {
    border-radius: 20px;
     
   
}


/* ----------------------------------------------------------------------------- */



@media (max-width:600px) {
    .nav {
        background-color: #20b2aa;
        color: white;
        height: 70px;
    }

    .nav h2 {
        font-size: 5vw;
    }

    .nav-part2 h3 {
        font-size: 4vw;
        display: none;
    }

    .nav i {
        margin-right: 1vw;
        display: block;
        font-size: 6vw;
    }

    .nav button {
        display: block;
    }

    .content {
        height: calc(100% - 70px);
        flex-direction: column;
    }

    .left {

        width: 100%;
        height: 50%;
        margin-bottom: 3vw;
    }

    .right {
        width: 100%;
        height: 70%;
    }
    .left h1 {
        font-size: 7.5vw;
        line-height: 10vw;
    }

    .left p {
        font-size: 2vw;
        width: 90%;
    }
}